{
  "extends": "next",
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "settings": {
        "react": { "version": "detect" },
        "import/resolver": {
          "typescript": {}
        }
      },
      "plugins": ["import", "unused-imports"],
      "env": {
        "browser": true,
        "node": true,
        "es6": true
      },
      "extends": [
        "eslint:recommended",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:prettier/recommended"
      ],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "unused-imports/no-unused-imports": "warn",
        "import/order": [
          "warn",
          {
            "newlines-between": "always",
            "groups": ["builtin", "external", "parent", "sibling", "index", "object", "type"],
            "alphabetize": { "order": "asc", "caseInsensitive": true }
          }
        ]
      }
    }
  ]
}
