$bp: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1440px,
);

@mixin query($display) {
  @each $key, $value in $bp {
    @if ($display == $key) {
      @media (max-width: $value) {
        @content;
      }
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-selects {
  flex-direction: row;

  @include query(mobile) {
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
}
